@import "tailwindcss";@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
body{
    background-color: rgb(43, 41, 41);
}


@layer utilities {
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-wavy 20s ease-in-out infinite;
  }

   @keyframes gradient-wavy {
    0% {
      background-position: 0% 50%;
    }
    25% {
      background-position: 50% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    75% {
      background-position: 50% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
